#                           _ __                   _____
#                    ____ _(_) /__________  ____  / __(_)___ _
#                   / __ `/ / __/ ___/ __ \/ __ \/ /_/ / __ `/
#                 _/ /_/ / / /_/ /__/ /_/ / / / / __/ / /_/ /
#                (_)__, /_/\__/\___/\____/_/ /_/_/ /_/\__, /
#                 /____/                             /____/
#
#                                                   - .gitconfig
#
#=============================================================================
[color]
	ui = auto
[core]
	autocrlf = false
	editor = "vim -c 'set fileencoding=utf-8'"
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[mergetool]
	trustExitCode = false
[user]
	name = hrnrhty
	email = hrnrhty@gmail.com
